services:
  nginx:
    image: nginx:alpine
    container_name: gateway
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend
      - api-server
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
    container_name: auto-passport-frontend
    environment:
      # Фронт знает ТОЛЬКО относительный путь
      VITE_API_BASE_URL: /api
    expose:
      - "4173"
    restart: unless-stopped

  api-server:
    build:
      context: ./api
    container_name: auto-passport-api
    expose:
      - "8080"
    environment:
      APP_ENV: production
      DATABASE_URL: "postgres://auto_passport_dev:512565be0efbd49efffbdc22d63ae763@dv-it-sph-dev-pg1.dns-shop.ru:5432/auto_passport_dev"
    restart: unless-stopped
